.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-frame{
    height: 200px;
    width: 300px;
    border: 10px solid goldenrod;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}
.photo-frame img{
    width: 100%;
}
.photo-detail{
    position: absolute;
    height: 200px;
    width: 300px;
    top: 0;
    display: none;
}
.photo-frame:hover .photo-detail{
    display: block;
    background-color: rgba(151, 250, 126, 0.4);
}
.photo-frame:hover .photo-detail h3{
    color: white;
    background-color: black;
    text-align: center;
}
.photo-frame:hover .photo-detail p{
    color: white;
}